In [4]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

areas_economy = Series(
    np.arange(10, 100, 10),
    index=[
        ['北京市', '北京市', '北京市', '河北省', '河北省', '河北省', '山东省', '山东省', '山东省'],
        ['信息业', '制造业', '服务业', '信息业', '制造业', '服务业', '信息业', '制造业', '服务业']])

areas_economy

北京市  信息业    10
     制造业    20
     服务业    30
河北省  信息业    40
     制造业    50
     服务业    60
山东省  信息业    70
     制造业    80
     服务业    90
dtype: int64

#### 1. 层级索引取值和索引sort_index排序

In [5]:
# 1. 获得一个省的信息
areas_economy['山东省']

信息业    70
制造业    80
服务业    90
dtype: int64

In [17]:
# 2. 获得多个省信息
areas_economy[['河北省', '山东省']]

河北省  信息业    40
     制造业    50
     服务业    60
山东省  信息业    70
     制造业    80
     服务业    90
dtype: int64

In [21]:
# 3. 获得所有省的制造业信息
areas_economy[:, '制造业']
# 获得多个省制造业信息错误写法
# areas_economy[['河北省', '山东省'], '制造业']

北京市    20
河北省    50
山东省    80
dtype: int64

In [24]:
# 4. 获得多个省制造业信息
areas_economy.loc[['河北省', '山东省'], '制造业']

河北省  制造业    50
山东省  制造业    80
dtype: int64

In [25]:
# 5. 获得多个省制造业、服务业信息
areas_economy.loc[['河北省', '山东省'], ['制造业', '服务业']]

河北省  制造业    50
     服务业    60
山东省  制造业    80
     服务业    90
dtype: int64

In [11]:
# 需要对最外层排序之后才可执行切片索引
areas_economy.sort_index()['北京市':'山东省']

北京市  信息业    10
     制造业    20
     服务业    30
山东省  信息业    70
     制造业    80
     服务业    90
dtype: int64

In [31]:
# 交换索引
areas_economy.swaplevel()

信息业  北京市    10
制造业  北京市    20
服务业  北京市    30
信息业  河北省    40
制造业  河北省    50
服务业  河北省    60
信息业  山东省    70
制造业  山东省    80
服务业  山东省    90
dtype: int64

In [37]:
# 对索引进行排序, 可通过level=0或1指定根据那层索引排序
areas_economy.sort_index(level=0)

北京市  信息业    10
     制造业    20
     服务业    30
山东省  信息业    70
     制造业    80
     服务业    90
河北省  信息业    40
     制造业    50
     服务业    60
dtype: int64

##### 2. 按层级统计数据

In [228]:
# 计算北京市经济总量
areas_economy['北京市'].sum()
# 计算山东省三大行业的平均经济总量
areas_economy['山东省'].mean()

北京市  信息业    10
     制造业    20
     服务业    30
河北省  信息业    40
     制造业    50
     服务业    60
山东省  信息业    70
     制造业    80
     服务业    90
dtype: int64

In [229]:
# 统计每个行业的经济总量
areas_economy.sum(level=1)

信息业    120
制造业    150
服务业    180
dtype: int64

In [39]:
data_frame1 = DataFrame(
    np.arange(0, 360, 10).reshape((6, 6)), 
    index=[
        ['北京市', '北京市', '河北省', '河北省', '河南省', '河南省'],
        ['昌平区', '海淀区', '石家庄', '张家口', '驻马店', '平顶山'],
    ], 
    columns=[
        ['轻工业', '轻工业', '重工业', '重工业', '服务业', '服务业'],
        ['纺织业', '食品业', '冶金业', '采煤业', '教育业', '游戏业'],
    ]
)

data_frame1

         轻工业       重工业       服务业
         纺织业  食品业  冶金业  采煤业  教育业  游戏业
北京市 昌平区    0   10   20   30   40   50
    海淀区   60   70   80   90  100  110
河北省 石家庄  120  130  140  150  160  170
    张家口  180  190  200  210  220  230
河南省 驻马店  240  250  260  270  280  290
    平顶山  300  310  320  330  340  350

In [41]:
data_frame1['重工业']

         冶金业  采煤业
北京市 昌平区   20   30
    海淀区   80   90
河北省 石家庄  140  150
    张家口  200  210
河南省 驻马店  260  270
    平顶山  320  330

In [42]:
data_frame1.loc['河北省']
data_frame1.loc['河北省']['重工业']

     冶金业  采煤业
石家庄  140  150
张家口  200  210