### 1. Numpy的ufuncs操作pandas对象

In [3]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

data_frame1 = DataFrame(np.arange(-8, 8).reshape((4, 4)))
data_frame1

   0  1  2  3
0 -8 -7 -6 -5
1 -4 -3 -2 -1
2  0  1  2  3
3  4  5  6  7

In [4]:
# 计算每一个元素的绝对值
np.abs(data_frame1)

   0  1  2  3
0  8  7  6  5
1  4  3  2  1
2  0  1  2  3
3  4  5  6  7

In [5]:
# 计算每一个元素的平方
np.square(data_frame1)

    0   1   2   3
0  64  49  36  25
1  16   9   4   1
2   0   1   4   9
3  16  25  36  49

### 2. 将函数应用到各行或各列所形成的一维数组上

In [34]:
def apply_function(x):
    return np.sum(x)

In [35]:
# 将每一列数据应用到apply_function上
data_frame1.apply(apply_function)

0    24
1    28
2    32
3    36
dtype: int64

In [36]:
# 将每一行数据应用到apply_function上
data_frame1.apply(apply_function, axis=1)

0     6
1    22
2    38
3    54
dtype: int64

In [37]:
# applymap可以将每一个元素应用到函数中
data_frame1.applymap(lambda x: x + 100)

     0    1    2    3
0  100  101  102  103
1  104  105  106  107
2  108  109  110  111
3  112  113  114  115