### 1. 对Series排序

In [20]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

series1 = Series(np.random.randint(1, 100, 4), index=['d', 'a', 'c', 'b'])
series1

d    40
a    40
c    80
b    24
dtype: int64

In [21]:
# 根据索引升序排列
series1.sort_index()
# 根据索引降序排列
series1.sort_index(ascending=False, inplace=True)
series1

d    40
c    80
b    24
a    40
dtype: int64

In [22]:
# 按照值对Series升序排列
series1.sort_values()
# 按照值对Series降序排列
series1.sort_values(ascending=False)

c    80
a    40
d    40
b    24
dtype: int64

### 2. 对DataFrame排序

In [23]:
data_frame1 = DataFrame(
    np.arange(16).reshape((4, 4)),
    index=['b', 'a', 'd', 'c'],
    columns=[4, 2, 3, 1]
)
data_frame1

    4   2   3   1
b   0   1   2   3
a   4   5   6   7
d   8   9  10  11
c  12  13  14  15

In [28]:
# 根据行索引进行排序
data_frame1.sort_index()
# 根据行索引进行降序排列
data_frame1.sort_index(ascending=False)

    4   2   3   1
d   8   9  10  11
c  12  13  14  15
b   0   1   2   3
a   4   5   6   7

In [33]:
# 根据列索引排序
data_frame1.sort_index(axis=1)
# 根据列索引降序排列
data_frame1.sort_index(ascending=False, axis=1, inplace=True)
data_frame1

    4   3   2   1
b   0   2   1   3
a   4   6   5   7
d   8  10   9  11
c  12  14  13  15

In [26]:
# 按照值对行进行升序排列
data_frame1.sort_values(by=1)
# 按照值对行进行降序排列
data_frame1.sort_values(by=1, ascending=False)

    4   2   3   1
c  12  13  14  15
d   8   9  10  11
a   4   5   6   7
b   0   1   2   3

In [27]:
# 按照值对指定列进行升序排列
data_frame1.sort_values(by='a', axis=1)
# 按照值对指定列进行降序排列
data_frame1.sort_values(by='a', axis=1, ascending=False)

    1   3   2   4
b   3   2   1   0
a   7   6   5   4
d  11  10   9   8
c  15  14  13  12