In [2]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

data_frame = DataFrame(
    np.arange(9).reshape((3, 3)), 
    index=list('abc'), 
    columns=list('efg')
)

data_frame

   e  f  g
a  0  1  2
b  3  4  5
c  6  7  8

In [18]:
# 将data_frame的列['e', 'f', 'g']转换为行
data_frame.stack()

a  e    0
   f    1
   g    2
b  e    3
   f    4
   g    5
c  e    6
   f    7
   g    8
dtype: int64

In [19]:
# 将行转换为列
data_frame.stack().unstack()

   e  f  g
a  0  1  2
b  3  4  5
c  6  7  8

In [20]:
# 将行转换为列 
# 0表示将['a', 'b', 'c']转换为列
# 1表示将['e', 'f', 'g']转换为列
data_frame.stack().unstack(0)

   a  b  c
e  0  3  6
f  1  4  7
g  2  5  8