In [3]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

data_frame = DataFrame(np.arange(12).reshape((4, 3)))
data_frame

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [2]:
re_index = {
    0: 'a',
    1: 'b',
    2: 'c',
    3: 'd'
}

re_column = {
    0: 'fir',
    1: 'sec',
    2: 'thi'
}

# 修改索引标签
# 也可以指定哪些标签需要修改，不需要每次都指定
data_frame.rename(index=re_index, columns=re_column, inplace=True)
data_frame

   fir  sec  thi
a    0    1    2
b    3    4    5
c    6    7    8
d    9   10   11