In [2]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

data_frame = DataFrame({
    '德国': {'第一产业': 100, '第二产业': 130, '第三产业': 110},
    '法国': {'第一产业': 50, '第二产业': 140, '第三产业': 70},
    '日本': {'第一产业': 90, '第二产业': 130, '第三产业': 110},
    '中国': {'第一产业': 110, '第二产业': 190, '第三产业': 180},
})

data_frame

       中国   德国   日本   法国
第一产业  110  100   90   50
第三产业  180  110  110   70
第二产业  190  130  130  140

In [3]:
# 实现对行按照指定顺序排列
data_frame.take(np.random.permutation(3))

       中国   德国   日本   法国
第三产业  180  110  110   70
第二产业  190  130  130  140
第一产业  110  100   90   50

In [4]:
# 实现对列按照指定顺序排列
data_frame.take(np.random.permutation(4), axis=1)

       德国   法国   日本   中国
第一产业  100   50   90  110
第三产业  110   70  110  180
第二产业  130  140  130  190